$main-navigation-width: 15.25rem;
// $main-navigation-padding: 7rem .75rem .75rem;
$main-navigation-padding: .75rem .75rem;
$main-navigation-bgcolor: $white;
$nav-link-height: 4rem;
$nav-link-padding: 0 1rem;
$nav-link-spacing-after: .75rem;

$page-header-spacing-after: 2.75rem;
$page-padding: 0 2.25rem;
$page-padding-48d: 0 1rem;
$content-box-padding: 1.5rem;
$content-box-bgcolor: $white;

$modal-padding: 1.5rem 1.5rem;

$course-title-font-size: 1rem;
$course-title-font-weight: 600;

.float-right {
    float: right;
}

.white-box {
    padding: $content-box-padding;
    box-shadow: 0 0 .5rem 0 $shadow-1;
    border: 0 !important;
    background-color: $content-box-bgcolor !important;
    @include borderRadius(1rem);
    .card-body {
        padding: 0 !important;
        // should be important to override .p-3
    }
    .card-title {
        @extend .title-base
    }
}
.button-base {
    border: 1px solid $purple-1;
    @include borderRadius(.5rem);
    &:hover {
        box-shadow: 0 0 .75rem .125rem $shadow-1;
    }
}
.button-light {
    @extend .button-base;
    background-color: $white-1;
    color: $purple-1;
}
.button-purple {
    @extend .button-base;
    background-color: $purple-1;
    color: $white-1;
}
.header-base {
    height: 3.25rem;
    line-height: 3.25rem;
    border: 0;
}
.title-base {
    font-size: 1rem;
    letter-spacing: .125rem;
    text-transform: uppercase;
    font-weight: 400;
}

// ugly moodle button group fix be like
.show > .btn-outline-secondary.dropdown-toggle {
    border-color: $primary;
    color: darken($color: $primary, $amount: 8%);
}
.inputables {
    button.dropdown-toggle,
    input[type="text"],
    input[type="number"],
    input[type="password"],
    textarea,
    select.select {
        @include borderRadius(.5rem);
        border-color: $gray-2;
        background-color: $white;
        &:focus {
            box-shadow: none;
        }
        &:focus, &:active, &:hover {
            border-color: $primary;
            color: darken($color: $primary, $amount: 8%);
            background-color: $white;
        }
    }
}

body {
    background-color: $body-bgcolor;
}
body:not(.uses-drawers).drawer-open-left {
    margin-left: $main-navigation-width;
}

// top nav
nav {
    &.navbar {
        box-shadow: none;
        &.fixed-top {
            @extend .header-base;
            border-bottom: 1px solid $gray-2;
            z-index: 1098;
            @media screen and (min-width: $breakpoint-48) {
                // background-color: $white-1 !important;
                background-color: transparent !important;
            }
            .primary-navigation {
                display: none;
            }
            .navbar-brand {
                display: none;
            }
            > div {
                // drawer menu toggler button
                button.btn.nav-link {
                    @extend .button-light;
                    background-color: $white-1 !important;
                }
            }
            // ul.usernav {
            //     li.nav-item {
            //         i.icon {
            //             font-size: 2.25rem;
            //         }
            //     }
            // }
        }
    }
}

// nav-drawer main-navigation
#nav-drawer {
	position: fixed;
	top: 0;
	left: 0;
    min-height: 100vh;
	width: $main-navigation-width;
    background-color: $main-navigation-bgcolor;
    box-shadow: .125rem 0 .5rem 0 $shadow-1;
    z-index: 1099;
    padding: $main-navigation-padding;
    scrollbar-color: lighten($purple-2, 50%) $gray-1;
    scrollbar-width: thin;
    &.closed {
	    left: 0;
    }
    nav {
        ul {
            li {
                margin-bottom: $nav-link-spacing-after;
                .list-group-item {
                    // ensure closed is useless in desktop
                    display: block !important;
                    height: $nav-link-height;
                    line-height: $nav-link-height;
                    padding: $nav-link-padding;
                    border: 0;
                    &.active {
                        background: $purple-gradient;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    &:focus, &:focus-visible {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: $breakpoint-48) {
        width: 100%;
        top: 3rem;
        &.closed {
            left: -100%;
        }
    }
}

#page-wrapper.page-login {
    background-image: $purple-gradient;
    .card {
        border: 0;
        .card-header {
            background-color: transparent;
            img.img-fluid {
                max-height: 4rem;
            }
        }
    }
    #page {
        #page-content {
            section#region-main {
                margin-top: 8rem;
                .row {
                    max-width: 25rem;
                    margin: 0 auto;
                    // another Moodle ugly shit codes
                    .col-xl-6.col-sm-8 {
                        max-width: 100%;
                        flex: none;
                    }
                    .card-body {
                        .row {
                            div {
                                flex: none;
                                max-width: 100%;
                                display: block;
                            }
                        }
                    }
                }
                // damn this one is hard-coded
                .my-1.my-sm-5 {
                    display: none;
                }
            }
        }
    }
}
#page {
    padding: $page-padding;
    padding-left: $main-navigation-width + 2.25rem;
    margin-top: 0;
    #page-header {
        margin-bottom: $page-header-spacing-after;
        > div {
            padding: 0 !important;
        }
        .card {
            @extend .header-base;
            padding: 0 1rem;
            background-color: transparent;
            .page-context-header {
                padding: 0;
                h1 {
                    @extend .title-base;
                    font-size: 1.25rem;
                    line-height: 3rem;
                    margin: 0;
                }
            }
            .card-body {
                padding: 0 !important;
                // should be important cause p-2
            }
        }
        #page-navbar {
            ol.breadcrumb {
                display: none;
            }
        }
    }
    // "customize this page" button
    #page-header .card .card-body .singlebutton form button {
        // display: none;
        font-weight: 600;
    }
    #page-content {
        #region-main-box {
            @extend .inputables;
            section#region-main {
                padding: 0;
                background-color: transparent;
                border: 0;
                overflow-x: visible;
                div[role="main"] {
                    > div {
                        @extend .white-box;
                        // moodle super ugly way of coding
                        &.d-flex.justify-content-end {
                            display: none !important;
                        }
                    }
                    aside {
                        section {
                            @extend .white-box;
                        }
                    }
                }
                .content-container {
                    @extend .white-box;
                }
            }
            aside#block-region-side-pre {
                section.card.block {
                    @extend .white-box;
                }
            }
        }
    }
    table {
        td.action {
            white-space: nowrap;
        }
    }
    @media screen and (max-width: $breakpoint-48) {
        padding: $page-padding-48d;
    }
}

// button styles
#page, .modal {
    .btn.btn-primary {
        @extend .button-light;
    }
    .btn.btn-secondary {
        @extend .button-purple;
    }
    .btn.btn-danger {
        @extend .button-light;
        background-color: lighten($color: $pink, $amount: 30%);
    }
    .btn.btn-info {
        @extend .button-light;
        background-color: lighten($color: $green-1, $amount: 30%);
    }
}

.course-content {
    ul.topics {
        .left.side, .right.side {
            margin: 0;
        }
        li.section {
            margin: 0;
            padding: .5rem 0;
            &:first-child {
                padding-top: 0;
            }
            h3.sectionname {
                font-size: $course-title-font-size;
                font-weight: $course-title-font-weight;
            }
        }
    }
}

// class management cards
// the class sub menu with 5 buttons
#inst29 {
    .card-text.content.mt-3 {
        margin: 0 -.25rem;
        button {
            margin: 0 .25rem .375rem;
        }
    }
    .action-menu-item {
        display: none;
    }
}
#inst30 {
    .action-menu-item {
        display: none;
    }
}

footer#page-footer {
    display: none;
}

.modal-content {
    @include borderRadius(1rem);
    padding: $modal-padding;
    .modal-header {
        h5, h6 {
            @extend .title-base;
        }
    }
}

// additional cleanup rules
#action-menu-toggle-1,
.modal-dialog.modal-dialog-scrollable {
    &:focus {
        box-shadow: none;
    }
}

@media screen and (min-width: $breakpoint-48) {
    .form-check.d-flex {
        position: absolute;
        left: 16rem;
        top: 1rem;
        z-index: 20;
    }
}
.form-check-input {
	position: relative;
	+ label {
        @include transition(.3s);
        display: inline-block;
        width: auto;
        position: relative;
        top: 0;
        left: 0;
        padding: 0 .5rem;
        margin: .25rem 0;
        line-height: 1.5rem;
        &:before {
            @include transition(.3s);
            width: 1.25rem;
            height: 1.25rem;
            content: "";
            display: block;
            cursor: pointer;
            position: absolute;
            top: .125rem;
            left: -1.125rem;
            background: #fcfff4;
            background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            border-radius: 4px;
            border: 1px solid $input-border-color;
            box-shadow: inset 0px 1px 1px white, 0px 1px 2px rgba(0,0,0,0.5);
        }
        &:after {
            content: '';
            width: .75rem;
            height: .5rem;
            position: absolute;
            top: .375rem;
            left: -1.125rem + .25rem;
            border: 3px solid #333;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
        }
        &:hover::after {
            opacity: 0.25;
        }
    }
    &:checked + label:after {
        opacity: 1;
    }
    &:disabled + label:after {
        opacity: 0.375;
    }
    &:focus {
        box-shadow: none !important;
    }
}