$purple-1: #582156;
$purple-2: #BA00B3;
$purple-gradient: -webkit-linear-gradient($purple-1, $purple-2);
$purple-theme: darken($purple-2, 8%);
$white: #fff;
$white-1: #F7F6F5;
$gray-1: #DAD8D5;
$gray-2: #CCC;
$green-1: #76ff03;
$green-pastel-1: #53ae3d;
$green-pastel-2: #8ddf6b;
$green-pastel-gradient: -webkit-linear-gradient($green-pastel-1, $green-pastel-2);
$green-theme: darken($green-pastel-2, 8%);

$shadow-1: rgba(59, 46, 46, 0.125);

$body-bgcolor: $white-1;

$primary: $purple-theme;

$theme-1: $purple-1;
$theme-2: $purple-2;
$theme-gradient: $purple-gradient;
$ok: $green-1;

// supported browsers
$browsers: '', '-moz-', '-webkit-', '-ms-';

// style mixin
@mixin transition($sec, $type: all, $accel: ease) {
	@each $browser in $browsers {
        #{$browser}transition: $type $sec $accel;
    }
}
@mixin borderRadius($radius: 50%) {
	@each $browser in $browsers {
        #{$browser}border-radius: $radius;
    }
}

$breakpoint-48: 48rem;