<div class="content-container">
    <button type="button" class="btn btn-primary" onclick="location.href='{{addUrl}}'">Add New Sponsor</button>
    <br><br>
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#sponsors}}
            <tr>
                <th scope="row">{{num}}</th>
                <td>
                    {{#suspended}}Non-Aktif{{/suspended}}
                    {{^suspended}}Aktif{{/suspended}}
                </td>
                <td>{{firstname}} {{lastname}}</td>
                <td>{{email}}</td>
                <td class="action">
                    <button type="button" class="btn btn-primary" onclick="location.href='{{addUrl}}?id={{id}}'"><i class="fa fa-pencil"></i></button>
                    <button type="button" value="{{id}}" class="btn btn-danger local_sponsor_delete_button"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            {{/sponsors}}
        </tbody>
    </table>

</div>
